<div class="columns has-items-centered">
  <div class="column is-half">
    <article class="card">
      <header class="card-header">
        <h1 class="card-header-title">Cotisation n° {{due.id}}</h1>
      </header>
      <div class="card-content content">
        <p>Le {{due.pretty_created}}</p>
        <p>
        <strong>{{due.to_name}}</strong><br>
          {{due.to_contact}}<br>
          {{due.to_address}}
        </p>

        <table class="table is-bordered">
          <tr>
            <td><strong>{{due.heading}}</strong></td>
            <td>
              Du {{due.pretty_date_start}} au {{due.pretty_date_end}}
            </td>
            <td class="nowrap">
              <strong>{{due.amount}} {{due.currency}}</strong>
            </td>
          </tr>
        </table>
        <ul>
        </ul>
      </div>
      <footer class="card-footer">
        <div class="card-footer-item">
          <span>Bulletin : <a href="{{due.form.url}}" title="Bulletn d'adhésion de référence : {{due.form.title}}">{{due.form.title}}</a></span>
        </div>
        <div class="card-footer-item">
          <span>Adhérent : <a href="{{due.member.url}}" title="Adhérent de référence : {{due.member.fullname}}">{{due.member.fullname}}</a></span>
        </div>
      </footer>
  </article>
</div>
