<div class="field">
  <div class="control">
    <label class="checkbox" for="{{field.id}}">
      <input class="{{#field.error}}is-danger{{/field.error}}" name="{{field.name}}" id="{{field.id}}" placeholder="{{field.placeholder}}" {{field.required}} {{field.checked}} {{#field.value}}value="{{field.value}}"{{/field.value}}  type="checkbox">
      {{field.label}}
    </label>
  </div>
  {{#field.error}}
  <p class="help is-danger">
    {{field.error}}
  </p>
  {{/field.error}}
</div>
