<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
	{{#users.users}}
		<tr>
			<td>{{id}}</th>
			<td>{{username}}</td>
			<td>{{email}}</td>
		</tr>
	{{/users.users}}
	{{^users}}
		<tr>
			<td colspan="3">
				— Aucun utilisateur pour l'instant —
				<a href="#">Ajoutez votre premier utilisateur</a>
			</td>
		</tr>
	{{/users}}
	</tbody>
</table>
{{#users}}Nombre total d'utilisateurs : {{users.count}}{{/users}}

<p>
	<a href="{{base_url}}users.json">Réponse au format JSON</a>
</p>