<!DOCTYPE HTML>
<html lang="{{lang}}">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="{{base_url}}assets/css/styles.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" />
	{{#scripts}}
		{{{script}}}
	{{/scripts}}
</head>
<body class="no-js">
	<div class="page">
		<header class="header_main">
			{{>navigation}}
		</header>
		<section id="content_main" class="content_main container">
			{{>content}}
		</section>
		<section class="content_profiler container">
			{{{profiler}}}
		</section>
	</div>
</body>
</html>
