<!DOCTYPE HTML>
<html lang="{{lang}}">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="{{base_url}}assets/css/styles.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" />
	{{#scripts}}
		{{{script}}}
	{{/scripts}}
</head>
<body class="no-js">
	<div class="page">
		<header class="header_main">
			{{>navigation}}
		</header>
		<section class="content_main container">
			{{>content}}
		</section>
		<section class="content_profiler container">
			{{{profiler}}}
		</section>
	</div>
	    <script id="template" type="text/html">
      <tr>
        <td>{{index}}</td>
        <td>{{record.name}}</td>
        <td>{{record.director}}</td>
        <td>{{record.actor}}</td>
        <td>{{record.rating}}</td>
        <td>{{record.year}}</td>
      </tr>
    </script>
</body>
</html>