<!DOCTYPE HTML>
<html lang="{{lang}}">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="assets/css/styles.css" type="text/css" media="screen" title="no title" charset="utf-8">
	{{#scripts}}
		{{{script}}}
	{{/scripts}}
</head>
<body>
	<header>
		{{>navigation}}
	</header>
	<section class="content_main container">
		{{>content}}
	</section>
	<section class="content_profiler container">
		{{{profiler}}}
	</section>
</body>
</html>