/* Sass here */
@charset "utf-8";

$box-radius: 0;
$footer-padding: 1rem 1.5rem 0.8rem;

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-switch/dist/css/bulma-switch.sass";
@import "custom.sass";


// $color-primary: #58b792; // cf. https://duckduckgo.com/
// Fail to add custom scss
// .fieldset
//   @extend .box
//   border: 0 none
//   > legend
//     @extend .label
//     background-color: $white
//     padding: 0 5px
fieldset {
  @extend .content;
}
legend {
  text-transform: uppercase;
  margin-bottom: 0.75em;
  // font-size: $size-6;

}

ul.is-unstyled {
  list-style: none !important;
  margin-left: 0;
  margin-top: 0;
}

.box.is-light {
  box-shadow: none;
  background-color: $primary;
  // background-color: transparentize($white, 0.7);
  & table.table {
    background: none;

    tr {
      // background: $primary;
      & td {
        border-color: desaturate($primary, 20%);
      }
    }
  }
  & table.table.is-hoverable tbody tr:hover {
    background-color: desaturate($primary, 15%);
    color: $black;
  }
}

table.table tr.faded {
  opacity: .5;
}

// table.table tbody{
//   border-width: 2px 0;
//   border-style: solid;
//   border-color: $grey;
// }


// Checkbox button

.button.is-primary .icon{
  fill: $primary;
}

.button.is-primary.is-hovered:not([disabled]) .icon,
.button.is-primary:hover:not([disabled]) .icon,
input.checkbox-button:checked + label.checkbox.button .icon {
  fill: $primary-invert;
}

.icon-aspect-link {display: inline;}
.icon-aspect-hover { display: none; }

// .button:hover .icon-aspect-link,
input.checkbox-button:checked + label.checkbox.button .icon-aspect-link { display: none;}
// .button:hover .icon-aspect-hover,
input.checkbox-button:checked + label.checkbox.button .icon-aspect-hover
{ display: inline;}

.checkbox.button {
  display: inline-flex;
}

input.checkbox-button:checked + label.checkbox.button {
  background-color: $primary;
  border-color: $primary;
  color: $white;
}
input.checkbox-button { display: none;}

/** Helper **/
.nowrap { white-space: nowrap;}
.has-cursor-default {cursor: default;}

.navbar-menu {box-shadow: none;}
.navbar-menu:target {
  color:red;
  display: block;
}

.columns.has-items-centered {
  justify-content: center;
}

.navbar-brand {
  align-items: center;
}

.icon {
  display: inline-block;
  fill: $dark;
}
a .icon {
  fill: $dark;
}


a.icon.is-active {
  fill: $yellow;
  #hovered { fill-opacity: 1; }
  #default { fill-opacity: 0; }
  // &:hover {
  //   fill: $grey-light;
  //   #hovered { fill-opacity: 0; }
  //   #default { fill-opacity: 1; }
  // }
}

a.icon.is-inactive {
  fill: $grey-lighter;
  #hovered { fill-opacity: 0; }
  #default { fill-opacity: 1; }
  // &:hover {
  //   fill: $orange;
  //   #hovered { fill-opacity: 1; }
  //   #default { fill-opacity: 0; }
  // }
}

.notification.is-info .icon { fill: darken($info, 20); }
.notification.is-success .icon { fill: darken($success, 20); }
.notification.is-warning .icon { fill: darken($warning, 35); }
.notification.is-danger .icon { fill: darken($danger, 20); }
