<nav class="nav_edit">
	<ul>
		<!-- <li>
					<a class="btn btn-info" href="{{base_url}}users.json">Réponse au format JSON</a>
				</li> -->
		<li>
			<a class="btn btn-info modale tipleft" title="Ajouter un nouvel utilisateur" href="{{base_url}}users/edit#form_content">+ Utilisateur</a>
		</li>
	</ul>
</nav>

<section class="content_table">
	<h1>Tableaux des utilisateurs</h1>
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Email</th>
				<th>Rôle</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
		{{#users}}
			<tr class="is_members">
				<td>{{id}}</th>
				<td><a class="modale" href="{{base_url}}users/profil/{{id}}">{{username}}</a></td>
				<td>{{email}}</td>
				<td>{{role.name}} <i>{{role.description}}</td>
				<td  colspan="4">
					<a class="btn modale" href="{{base_url}}users/edit/{{id}}#form_content">Modifier</a>
					-
					{{#member.id}}
						<a href="{{base_url}}members/profil/{{member.id}}">Fiche membre</a>
					{{/member.id}}
					{{^member.id}}
						Utilisateur non membre
					{{/member.id}}
				</td>
		{{/users}}
		{{^users}}
			<tr>
				<td colspan="3">
					<p>Aucun utilisateur pour l'instant</p>
					<a class="btn modale" href="{{base_url}}users/edit/">Ajoutez votre premier utilisateur</a>
				</td>
			</tr>
		{{/users}}
		</tbody>
	</table>
</section>
