{{#user}}
<h1>{{username}}</h1>
<ul>
	<li>Email : {{email}}</li>
	<li>Nombre de connexion : {{logins}}</li>
	<li>Dernière connexion le : {{last_logins}}</li>
	<li>Enregistré le : {{created}}</li>
	<li>Dernière mise à jour le : {{updated}}</li>
</ul>
{{/user}}
<a href="{{base_url}}members/profil/{{user.member.id}}">Afficher la fiche membre</a>