<footer class="footer">
  <ul>
  {{#menu.footer}}
    {{#text}}<li>{{text.content}}</li>{{/text}}
    {{#links}}
    <li><a href="{{href.url}}">{{link.name}}</a></li>
    {{/links}}
  {{/menu.footer}}
  </ul>
</footer>
