<a class="main-menu-link" href="#js-main-menu"></a>
<p><a href="{{url_base}}">{{title}}</a></p>
<nav id="js-main-menu" class="mmenu mmenu-left mmenu-horizontal">
   <ul>
     {{#navigation}}
				<li><a title="{{link.title}}" href="{{base_url}}{{link.url}}" class="{{#link.current}} current {{/link.current}}">{{link.name}}</a></li>
			{{/navigation}}
   </ul>
</nav>