<i>{partials/navigation.mustache}</i>
<nav>
	<ul>
	{{#navigation}}
		<li><a title="{{link.title}}" href="{{base_url}}{{link.url}}" class="{{#link.current}} current {{/link.current}}">{{link.name}}</a></li>
	{{/navigation}}
	</ul>
</nav>