<div class="navbar navbar-inverse">
	<div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{url_base}}">{{title}}</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          {{#navigation}}
						<li><a title="{{link.title}}" href="{{base_url}}{{link.url}}" class="{{#link.current}} current {{/link.current}}">{{link.name}}</a></li>
					{{/navigation}}
        </ul>
      </div>
    </div>
  </div>
</div>