<form class="is-marginless" id="form_member" action="{{form.action}}" method="post">

  {{#form.notifications}}
    <div class="notification is-{{notification.kind}}">
      {{#notification.deletable}}
      <button class="delete"></button>
      {{/notification.deletable}}
      {{{notification.content}}}
    </div>
  {{/form.notifications}}

  <input type="hidden" name="id" value="{{form.member_id}}">
  <input type="hidden" name="idm" value="{{form.idm}}">

  <fieldset>
    <legend>Identité</legend>
    <div class="field columns">
      <div class="column">
        {{#form.data.firstname}}
        {{>form/fields/text}}
        {{/form.data.firstname}}
      </div>
      <div class="column">
        {{#form.data.lastname}}
        {{>form/fields/text}}
        {{/form.data.lastname}}
      </div>
    </div>
    <div class="field columns">
      <div class="column">
        {{#form.data.birthdate}}
        {{>form/fields/date}}
        {{/form.data.birthdate}}
      </div>
      <div class="column">
        {{#form.data.select_genders}}
        {{>form/fields/select}}
        {{/form.data.select_genders}}
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Contact</legend>
    <div class="field columns">
      <div class="column">
        {{#form.data.email}}
        {{>form/fields/email}}
        {{/form.data.email}}
      </div>
      <div class="column">
        {{#form.data.phone}}
        {{>form/fields/tel}}
        {{/form.data.phone}}
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Addresse</legend>
    <div class="field columns is-multiline">
      <div class="column is-full">
        {{#form.data.address.street}}
        {{>form/fields/text}}
        {{/form.data.address.street}}
      </div>
      <div class="column">
        {{#form.data.address.zipcode}}
        {{>form/fields/text}}
        {{/form.data.address.zipcode}}
      </div>
      <div class="column">
        {{#form.data.address.city}}
        {{>form/fields/text}}
        {{/form.data.address.city}}
      </div>
      <div class="column">
        {{#form.data.address.country}}
        {{>form/fields/text}}
        {{/form.data.address.country}}
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Cotisations</legend>
    {{^member.dues.records}}
    {{#member.forms_all.records_count}}
    <p class="help">
      <b>Note</b> : Une fois une cotisation ajoutée, la fiche ne pourras plus être suprimée.
    </p>
    {{/member.forms_all.records_count}}
    {{/member.dues.records}}
    <ul class="is-unstyled">
      {{#member.dues.records}}
      <li>
        {{due.title}} (#{{due.id}})<br>
        {{due.amount}} {{due.currency.entity}}<br>
        jusqu'au : {{due.pretty_date_end}}
      </li>
      {{/member.dues.records}}
      {{#member.forms.records}}
      <li>
       <span class="button is-warning is-hovered is-large">
            <span class="icon is-large">
              <img class="icon-injector" src="/assets/svg/checkmark-circle.svg" alt="icon name">
            </span>
            <div class="is-size-5">
            {{member_form.title}}
            <span class="has-text-weight-bold"> {{member_form.price}} {{form.currency.label}} €</span></div>
        </span>
      </li>
      {{/member.forms.records}}
      {{#member.forms_all.records}}
      <li class="field">
        <div class="control content">
          <input class="checkbox-button" type="checkbox" id="member-form-{{member_form.id}}" name="member_forms[]" value="{{member_form.id}}" {{member_form.disabled}} >
          <label class="checkbox button is-primary is-outlined is-large" for="member-form-{{member_form.id}}" {{member_form.disabled}}>
            <span class="icon is-large">
              <img class="icon-injector icon-aspect-hover" src="/assets/svg/checkmark-circle.svg" alt="icon name">
              <img class="icon-injector icon-aspect-link" src="/assets/svg/circle.svg" alt="icon name">
            </span>
            <div class="is-size-5">{{member_form.title}}
              <span class="has-text-weight-bold"> {{member_form.price}} {{form.currency.label}} €</span>
            </div>
          </label>
        </div>
      </li>
      {{/member.forms_all.records}}
      {{^member.forms_all.records_count}}
      <li><p>Aucun bullletin d'adhésion actif<p></li>
      {{/member.forms_all.records_count}}
    </ul>
  </fieldset>

  <div class="field is-grouped is-grouped-right">
    {{#member.is_loaded}}
    <div class="control">
      <button class="button is-primary is-light">Annuler</button>
    </div>
    {{/member.is_loaded}}
    <div class="control">
      <button class="button is-primary">Enregistrer</button>
    </div>
  </div>
</form>
