<header class="header_main">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
			<script type="text/javascript" src="/assets/script/jquery.dataTables.min.js"></script>
			<script type="text/javascript" src="/assets/script/jquery.jeditable.js"></script>
			<script type="text/javascript" src="/assets/script/dataTables.bootstrap.js"></script>
			<script type="text/javascript" src="/assets/script/jquery.nyroModal.custom.js"></script>
			<script type="text/javascript" src="/assets/script/jquery.tooltipster.js"></script>
			<script type="text/javascript" src="/assets/script/jquery.mmenu.js"></script>
			<script type="text/javascript" src="/assets/script/general.js"></script>
			
			<a class="main-menu-link" href="#js-main-menu"></a>
			<p><a href="{{url_base}}">title</a></p>
			
			<nav id="js-main-menu">
			   <ul>
			      <li><a href="/">Home</a></li>
			      <li><a href="/about/">About us</a></li>
			      <li><a href="/contact/">Contact</a></li>
			   </ul>
			</nav>
			
	</header>
<div class="box_login">
	<h1>{{title}}</h1>
	<form action="" method="post">
		<fieldset>
			<legend>Connexion</legend>
			Nom d'utilisateur : demo
			<br />
			Mot de passe : demo
			<span>
				<label for="username">Nom d'utilisateur</label>
				<input type="text" name="username" id="username" value="{{post.username}}" />
			</span>
			{{#errors}}{{#username}}<p class="form-error">{{username}}</p>{{/username}}{{/errors}}
			<span>
				<label for="password">Mot de passe</label>
				<input type="password" name="password" id="password" />
			</span>
			<span class="form-action">
				<input class="btn" type="submit" value="S'authentifier" />
			</span> 
		</fieldset>	
	</form>
</div>
