<form class="is-marginless" id="{{html_form.form_id}}" action="{{html_form.action}}" method="post">

  {{#html_form.notifications}}
  {{>element/notification}}
  {{/html_form.notifications}}

  <input type="hidden" name="id" value="{{html_form.member_id}}">
  <input type="hidden" name="idm" value="{{html_form.idm}}">

  <fieldset>
    <legend>Identité</legend>
    <div class="field columns">
      <div class="column">
        {{#html_form.data.firstname}}
        {{>html_form/fields/text}}
        {{/html_form.data.firstname}}
      </div>
      <div class="column">
        {{#html_form.data.lastname}}
        {{>html_form/fields/text}}
        {{/html_form.data.lastname}}
      </div>
    </div>
    <div class="field columns">
      <div class="column">
        {{#html_form.data.birthdate}}
        {{>html_form/fields/date}}
        {{/html_form.data.birthdate}}
      </div>
      <div class="column">
        {{#html_form.data.select_genders}}
        {{>html_form/fields/select}}
        {{/html_form.data.select_genders}}
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Contact</legend>
    <div class="field columns">
      <div class="column">
        {{#html_form.data.email}}
        {{>html_form/fields/email}}
        {{/html_form.data.email}}
      </div>
      <div class="column">
        {{#html_form.data.phone}}
        {{>html_form/fields/tel}}
        {{/html_form.data.phone}}
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Addresse</legend>
    <div class="field columns is-multiline">
      <div class="column is-full">
        {{#html_form.data.address.street}}
        {{>html_form/fields/text}}
        {{/html_form.data.address.street}}
      </div>
      <div class="column">
        {{#html_form.data.address.zipcode}}
        {{>html_form/fields/text}}
        {{/html_form.data.address.zipcode}}
      </div>
      <div class="column">
        {{#html_form.data.address.city}}
        {{>html_form/fields/text}}
        {{/html_form.data.address.city}}
      </div>
      <div class="column">
        {{#html_form.data.address.country}}
        {{>html_form/fields/text}}
        {{/html_form.data.address.country}}
      </div>
    </div>
  </fieldset>
  <div class="columns">
    <fieldset class="column">
      <legend>Cotisations</legend>
      {{^member.dues.records}}
      {{#member.forms_all.records_count}}
      <p class="help">
        <b>Note</b> : Une fois une cotisation ajoutée, la fiche ne pourras plus être suprimée.
      </p>
      {{/member.forms_all.records_count}}
      {{/member.dues.records}}
      <ul class="is-unstyled">
        {{#member.forms_all.records}}
        <li class="field">
          <div class="control content">
            <input class="checkbox-button" type="checkbox" id="member-form-{{member_form.id}}" name="member_forms[]" value="{{member_form.id}}" {{member_form.disabled}} >
            <label class="checkbox button is-fullwidth-mobile is-primary is-outlined is-large" for="member-form-{{member_form.id}}" {{member_form.disabled}}>
              <span class="icon is-large is-hidden-mobile">
                <img class="icon-injector icon-aspect-hover" src="/assets/svg/checkmark-circle.svg" alt="icon name">
                <img class="icon-injector icon-aspect-link" src="/assets/svg/circle.svg" alt="icon name">
              </span>
              <div class="is-size-5">
                {{#member_form.free_price}}
                <div class="level">
                  <div class="level-item">
                    {{member_form.title}}
                  </div>
                  <div style="padding: 0 .5em" class="level-item">
                    <div classs="control">
                      <input style="width: 5em" class="input" min="{{member_form.price}}" type="number" name="free_price" id="free_price" value="{{member_form.price}}">
                    </div>
                  </div>
                  <b class="level-item">
                    {{member_form.currency.entity}}
                  </b>
                </div>
                {{/member_form.free_price}}
                {{^member_form.free_price}}
                {{member_form.title}}
                <b>
                  {{member_form.price}}
                  {{member_form.currency.entity}}
                </b>
                {{/member_form.free_price}}
              </div>
            </label>
          </div>
        </li>
        {{/member.forms_all.records}}
        {{^member.forms_all.records_count}}
        <li><p>Aucun bullletin d'adhésion actif<p></li>
        {{/member.forms_all.records_count}}
      </ul>
    </fieldset>
    {{#member.forms.records}}
    <div class="column">
      <legend>Cotisation actives</legend>
      <ul class="is-unstyled">
        <li class="field">
        <span class="button is-fullwidth-mobile is-warning is-hovered is-large has-cursor-default">
              <span class="icon is-large is-hidden-mobile">
                <img class="icon-injector" src="/assets/svg/checkmark-circle.svg" alt="icon name">
              </span>
              <div class="is-size-5">
              {{member_form.title}}
              <span class="has-text-weight-bold"> {{member_form.price}} {{form.currency.label}} €</span></div>
          </span>
          {{#member_form.dues.records_count}}
          <ul class="help is-unstyled">
          {{#member_form.dues.records}}
            <li>
              Cotisation <a href="{{due.url}}" target="_blank">#{{due.id}}</a> de {{due.amount}} {{due.currency}} jusqu'au : {{due.pretty_date_end}}
            </li>
          {{/member_form.dues.records}}
          </ul>
          {{/member_form.dues.records_count}}
        </li>
      </ul>
    </div>
    {{/member.forms.records}}
  </div>

  <div class="field is-grouped is-grouped-right">
    {{#member.loaded}}
    <div class="control">
      <button class="button is-primary is-light">Annuler</button>
    </div>
    <div class="control">
      <button class="button is-primary">Enregistrer</button>
    </div>
    {{/member.loaded}}
    {{^member.loaded}}
    <div class="control">
      <button class="button is-primary">Ajouter l'adhérent</button>
    </div>
    {{/member.loaded}}
  </div>
</form>
