<!DOCTYPE>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {{#styles}}
    <link rel="stylesheet" href="{{ style.href }}">
    {{/styles}}
    {{#scripts}}
    <script {{ script.defer }} src="{{ script.src }}"></script>
    {{/scripts}}
  </head>
  <body class="has-background-primary">
    <header>
      {{>layout/navbar}}
    </header>
    <main class="section is-paddingless-mobile" style="padding-top: 1.8rem;">
      {{#notifications}}
      {{>element/notification}}
      {{/notifications}}
      {{>content}}
    </main>
    {{>layout/footer}}
    {{{profiler}}}
    <script>
      // Elements to inject
      var mySVGsToInject = document.querySelectorAll('img.icon-injector');
      // Do the injection
      SVGInjector(mySVGsToInject);
    </script>
  </body>
<html>
