<!DOCTYPE HTML>
<html lang="{{lang}}">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="{{base_url}}assets/css/styles.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" />
	<script type="text/javascript" charset="utf-8">
		document.body.className = document.body.className.replace("no-js","js");
	</script>
	{{#scripts}}
		{{{script}}}
	{{/scripts}}
</head>
<body class="no-js">
	<div class="content_main container">
		{{>content}}
	</div>
</body>
</html>