<!DOCTYPE HTML>
<html lang="{{lang}}">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="{{base_url}}assets/css/styles.css" type="text/css" media="screen" title="no title" charset="utf-8">
	{{#scripts}}
		{{{script}}}
	{{/scripts}}
</head>
<body>
	<div class="content_main container">
		{{>content}}
	</div>
</body>
</html>