<div class="field is-grouped is-grouped-right">
  {{#html_form.data_is_loaded}}
  <div class="control">
    <button class="button is-primary is-light">Annuler</button>
  </div>
  {{/html_form.data_is_loaded}}
  <div class="control">
    <button class="button is-primary">Enregistrer</button>
  </div>
</div>
