<div class="columns has-items-centered">
  <div class="column is-half">
    <article class="card">
      <header class="card-header">
        <h1 class="card-header-title">Bulletin d'adhésion : {{form.title}}</h1>
      </header>
      <div class="card-content">
        <h2 class="title">{{form.heading}}</h2>
        <p class="subtitle">
          Commence à la date
          {{#form.is_period_start_at_due}}
          de cotisation
          {{/form.is_period_start_at_due}}
          {{#form.is_period_start_at_form}}
          du bulletin ({{form.pretty_date_start}})
          {{/form.is_period_start_at_form}}

          {{#form.is_due_end_at_form}}
          jusqu'au {{form.pretty_date_end}}
          {{/form.is_due_end_at_form}}
          {{#form.is_due_end_at_period}}
          pour une durée de {{form.pretty_duration}}
          {{/form.is_due_end_at_period}}
        </p>
        <div class="content">
          <p>{{form.description}}</p>
          <ul>
            <li>Actif : {{#form.is_active}}oui{{/form.is_active}}{{^form.is_active}}non{{/form.is_active}}</li>
            <li>
              Montant : {{form.price}} {{form.currency.entity}}
            </li>
            <li>Durée : {{form.pretty_duration}}</li>
            <li>Validité : à {{form.pretty_period_type}}</li>
            <li>
              Adhérent : {{form.dues_all.records_count}} adhérents dont {{form.dues_all.records_active_count}} actifs.
            </li>
            <li>Crée le : {{form.pretty_created}}</li>
          </ul>
        </div>
      </div>
      <footer class="card-footer">
          <a class="card-footer-item" href="{{form.url_edit}}">Éditer</a>
          <a class="card-footer-item" href="">Supprimer</a>
      </footer>
    </article>
  </div>
</div>
