
<div class="level">
  <div class="level-left ">
    <h1 class="title">Bulletins d'adhésion</h1>
  </div>
  <div class="level-right">
    <a href="/bulletins/edit" class="button is-dark is-outlined">Ajouter un bulletin</a>
  </div>
</div>

<div class="card content">
  <div class="card-content">
    <div class="tabs is-boxed">
      <ul class="is_unstyled is-marginless">
        <li class="{{#is_filter_active}}actifs{{/is_filter_active}}">
          <a href="/bulletins/actifs">Actifs</a>
        </li>
        <li class="{{#is_filter_active}}inactifs{{/is_filter_active}}">
          <a href="/bulletins/inactifs">Inactifs</a>
        </li>
      </ul>
    </div>
    <div class="table-container">
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Titre</th>
            <th class="is-hidden-mobile">Description</th>
            <th>Montant</th>
            <th class="is-hidden-mobile">Durée</th>
            <th>Adhérents</th>
          <tr>
        </thead>
        <tbody>
          {{#forms.records_count}}
          {{#forms.records}}
          <tr {{^form.is_active}}class="faded"{{/form.is_active}}>
            <td><a href="{{form.url}}">{{form.title}}</a></td>
            <td class="is-hidden-mobile">{{form.description}}</td>
            <td>{{form.price}} {{form.currency.entity}}</td>
            <td class="is-hidden-mobile">
              {{form.pretty_period_type}}<br>
              Durée : {{form.pretty_duration}}<br>
              {{#form.date_start}}
              à partir du {{form.date_start}}
              {{/form.date_start}}
            </td>
            <td>
              {{form.dues_all.records_active_count}} / {{form.dues_all.records_count}}
            </td>
          </tr>
          {{/forms.records}}
          {{/forms.records_count}}
          {{^forms.records_count}}
          <tr>
            <td colspan="6">
              <p class="notification is-warning has-text-centered">
                — Aucun bulletins d'adhésion à afficher —
              </p>
            </td>
          </tr>
          {{/forms.records_count}}
        </tbody>
      </table>
    </div>
  </div>
</div>
