<p>Bonjour</p>
<p>
  Veuillez trouvez ci-dessous votre code de conenxion vous permettant de vous connecter à <b>Guidoline</b>.
</p>
<p>
  <strong>Code de connexion</strong> : <code>{{secret}}</code>
</p>
<p>
  <i>Recopiez ce code à 6 chiffres dans le champs correspondant sur la page de connexion.</i>
</p>
<p>
  <a href="{{url_home}}">Guidoline</a><br>
  <a href="mailto:{{email_contact}}">{{email_contact}}</a>
</p>
