@import "bootstrap.css";
@import "flat-ui.css";
@import "nyroModal.css";
@import "tooltipster.css";
@import "font-awesome.css";
@import "mmenu.css";


html, body {
    height: 100%;
		background: #eee;
}

/* Typography */
/*-----------------------*/

h1 {
	margin: 0 0 .5em;
	border-bottom: 2px solid #999;
}

.invalid {
	color: #B15C3A;
}

.valid {
	color: #9ABFB7;
}

.nerver {
	color: #777;
}

/* icons */
/* This terms are add in php code for subscription link generation :: it depends on term present in the database
/*-----------------------*/ 

table .icon-2x {
	font-size: 1.5em;
}

.icon-cafe:before { 
	content: "\f0f4"; 
}
.icon-atelier:before {
	content: "\f0ad";
}

/* iFrame */
/*-----------------------*/

.cboxIframe .navbar,
.nyroModalLink .navbar,
.cboxIframe .content_profiler {
	display: none !important;
}

.nyroModalLink .container {
	width: 500px;
}

.nyroModalTitle {
	display: none;
}

.content_profiler {
	/*display: none;*/
}

.separator {
	font-size: 2em;
	font-weight: normal;
}

/* header */
/*-----------------------*/

.header_main {
	background: #34495E;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	height: 40px;
	padding: 0 50px;
	margin: 0 0 1em 0;
}

.header_main p {
	padding-left: .5em;
	font-size: 2em;
	letter-spacing: 10px;
	font-weight: 900;
}

.no-js .header_main p {
	display: block;
	float: right;
}

.header_main p a {
	color: #fff;
	text-decoration: none;
}

.header_main .main-menu-link {
	background: center center no-repeat transparent;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpi/P//PwOtARMDHQBdLGFBYt+nkR2KjEhxQqvIYaR7cD2glSWMo0mY3DiJo5Edi4ZPEqZ7nMSP5pPRon60qB9NwpQDgAADAMIxHUJvWs/TAAAAAElFTkSuQmCC);
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
}
.no-js .main-menu-link {
	display: block;
}
.header_main a.main-menu-link.friends {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVNJREFUeNq01jFLAzEYxvH2UBCxiIiDUhzcdXCyIk5ufgUXLR37JdxcXBxcuwmOOtml0EKpo04iWIpIQREVEVFLjf9AhoC9e3O5uxd+lMLdPU1yedO8UiqXdQWO122ghi4+8IwGqiiId+uRCHbxqsLrFHNRz5ACSnhTch1EPScQpnIH0w7TWcGiz5rouS45rtkMVnxCJrAQ4yUq+oT8YhAjZOAT8oWHGCE9nxC9H64cA15w4xOiW0HbfErVNhvUa8c3cecQcoZv3xA9z+fCNbe4SNq7jvEUMaUnuE/au7SjkHbSR1G637ULh73Kn+gn7cIBttELGckQh9Jo8iMOrSksYx2b2MKk8FuvUUcHl/9GbiWuooYu3pVf/eARLZQxbp8na2YR0659e+HLmM/geN+z98lSRv8hZu2QQkYh+kzKjZkvHdPahymH6DNp5Cucev0JMAAkKj0NEoYBJwAAAABJRU5ErkJggg==);
}
.no-js .header_main nav ul {
	list-style-type: none;
	margin: 0;
}
.no-js .header_main nav li {
	float: left;
}
.no-js .header_main nav a {
	display: block;
	padding:.5em 1em;
	text-decoration: none;
}
.no-js .header_main nav a:hover {
	color: #fff;
}


/* Navigation */
/*-----------------------*/

.nav_edit ul {
	clear: both;
	overflow: hidden;
	float: right;
	margin: 7px -6px 0 0;
	list-style-type: none;
}

.nav_edit li {
	margin: 0 .5em;
	float: left;
}

/* Content */
/*-----------------------*/

.content_main {
	padding: 0em 0 0.5em;
}

.content_stat {
	display: table;
	margin-bottom: .5em;
}

.content_stat .block {
	position: relative;
	display: table-cell;
	min-height: 8em;
	margin-bottom: 1em;
	padding: 1em 1em;
	font-size: 1.2em;
	vertical-align: middle;
	border: 2px solid #34495e;
	background-color: #fff;
	text-align: center;
}

.content_stat h2 {
	margin:-.7em -.7em .5em;
	padding: 0 .5em;
	text-align: left;
	color: #fff;
	background: #34495e;
}

.content_stat .stat {
	font-size: 2.5em;
	font-weight: bold;
}

.nyroModalCont .block {
	min-height: 12em;
	font-size: .7em;
}

.nyroModalCont .block h2 {
	font-size: 1.4em;
}

.nyroModalCont .nav_edit {
	display: none;
}

/*.content_stat .block:before {
	content:"";
	position: absolute;
	top: -10px;
	left: 0px;
	margin: 0 0 0 -2px;
	width: 100%;
	height: 10px;
	background: red;
}*/

#include {
	clear: both;
	width: 100%;
}

/* Form */
/*-----------------------*/

form {
	margin: 0 0 3.5em;
}

label {
	margin-bottom: .1em;
}

legend {
	margin: 0 0 .5em;
}

.dataTables_wrapper input {
	width: 192px;
}

[class^=form_] fieldset > span {
	float: left;
	width: 50%;
}

[class^=form_] .form_action {
	float: right;
	clear: both;
	padding-top:.8em;
	width: auto;
}

/* Form */
/*-----------------------*/

.table .btn {
	white-space: nowrap;
}

/* Form grid */
/*-----------------------*/

.span8 {
	float: left;
	width: 40%;
}

.span8 + .span8 {
	float: right;
	text-align: right;
}

/* Box login */
/*-----------------------*/

.box_login {
	margin: 3em auto;
	width: 500px;
	border: 2px solid #34495E;
	border-radius: 15px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
	background: #f9ffff;
}

.box_login h1 {
	padding: .5em;
	color: #fff;
	background: #34495E;
	border: none;
	border-radius: 13px 13px 0 0;
}

.box_login form {
	margin:.5em 1em 1em;
}

.box_login input {
	height: 30px;
}

.box_login input[type="text"],.box_login input[type="password"] {
	width: 98%;
}

.box_login .btn {
	float: right;
	margin:.5em .5em 1em;
}

/* Table*/
/*-----------------------*/

#table_members th:nth-child(1) {
	width:35px;
}
#table_members th:nth-child(2) {
	width:130px;
}
#table_members th:nth-child(3) {
	width:130px;
}
#table_members th:nth-child(4) {
	width:25px;
}
#table_members th:nth-child(6) {
	width:110px;
}
/*#table_members th:nth-child(7) {
	width:170px;
}*/
#table_members th:nth-last-child(2) {
	width:50px;
}
#table_members th:nth-last-child(1) {
	width:50px;
}

.table th {
	padding: 4px 4px 6px;
}

.table td {
	padding: 4px 4px 0;
}

.dataTables_info {
	margin: 18px 0;
	padding: .8em 0;
}

.table th.headerSortUp,
.table th.headerSortDown {
	position: relative;
	display: block;
}
.table th.headerSortUp:after,
.table th.headerSortDown:after {
	font-family: 'FontAwesome';
	font-size: 1.3em;
	position: absolute;
	right: 5px;
	width: 10px;
	height: 10px;
}
.table th.headerSortUp:after {
		content:"\f0d8";
}

.table th.headerSortDown:after {
		content:"\f0d7";
}

.st_search{
  max-width: 200px;
  float: right;
  margin-bottom: 10px;
}

.pagination{
  float: right;
  margin-top: 0px;
}

.pagination li.active a{
  background-color: #DCDCDC;
}

.st_per_page{
  width: 65px;
  height: 29px !important;
  float: right;
  margin-right: 20px;
	padding: 5px 4px;
}

.record_count {
  margin-left: 20px;
}

#spinner {
  font-size: 18px;
  margin-left: 10px;
  display: none;
}

#found{
  margin-left: 10px;
  font-size: 16px;
  line-height: 33px;
}

.content_table .progress {
  width: 400px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  float: left;
	background: #888;
}

.content_table .progress-bar {
	padding: 0 0 .1em 5%;
	font-size: 1.1em;
	color: #fff;
	background: #1ABC9C;
}

.pagination {
	background: white;
}


