<form action="" method="post" class="form_subscription">
	<fieldset>
		<legend>Ajouter une adhésion</legend>
			<label for="subscritpion_id">Inscriptions</label>
			<select name="subscription_id" id="subscritpion_id">
			{{#subscriptions}}
				<option value="{{id}}">{{title}}</option>
				{{/subscriptions}}
			</select>
	</fieldset>
	<span class="form_action">
		<input class="btn" type="submit" />
	</span>
</form>