<h1>{{title}}</h1>
<p>
	{{member.firstname}} {{member.name}}
	<br />
	Adhérent since {{member.first_subscription.created}}
</p>
{{#subscriptions_member}}
<table>
	<thead>
		<tr>
			<th>Titre</th>
			<th>Tarif</th>
			<th>Soucrit le</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td>{{subscription.title}}</td>
		<td>{{subscription.cost}}€</td>
		<td>{{created}}</td>
	</tr>
	</tbody>
</table>
{{/subscriptions_member}}
<a href="{{base_url}}members/subscriptions_edit/{{member.id}}">Ajouter une adhésion</a>
{{^subscriptions_member}}
- Aucune adhésion - 
<br />
{{/subscriptions_member}}