<div class="content box">
  <h2 class="is-size-4">
    {{^member.loaded}}Ajouter l'adhérent #{{member.next_idm}}{{/member.loaded}}
    {{#member.loaded}}{{member.fullname}} (#{{member.idm}}){{/member.loaded}}
  </h2>
  {{>form/member/edit}}
</div>
