<nav class="nav_edit">
	<ul>
		<!--<li>
			<a class="btn btn-info" href="{{base_url}}members.json">Réponse au format JSON</a>
		</li>-->
		<li>
			<a class="btn btn-info modale tip" title="Ajouter un nouveau membre" href="{{base_url}}members/edit#form_content"><i class="icon-plus"></i> Membre</a>
		</li>
	</ul>
</nav>
<section class="content_table">
	<h1>Tableaux des membres</h1>

	<div id="progress_bar" class="progress progress-striped active">
		<div id="record_count" class="progress-bar progress-bar-success" style="width: 0%">0</div>
	</div>
	<span id="found" class="label label-info"></span>
	<table id="table_members" class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Âge</th>
				<th>Inscription</th>
				<th>Email</th>
				<th>Téléphone</th>
				<th>Ville</th>
				<th>Adhésion</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{{{# members}}}
				{{>members/table_entry}}
			{{{/ members}}}
		</tbody>
	</table>
</section>
