<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Prénom &amp; Nom</th>
			<th>première date d'inscription</th>
			<th>Statut</th>
			<th>Email</th>
			<th>Téléphone</th>
			<th>Adresse</th>
			<th>Adhésion</th>
		</tr>
	</thead>
	<tbody>
		{{#members}}
		<tr>
			<td>{{id}}</td>
			<td><a href="{{base_url}}members/profil/{{id}}">{{firstname}} {{name}}</a></td>
			<td>{{created}}</td>
			<td>{{status.name}}</td>
			<td>{{email}}</td>
			<td>{{phone}}</td>
			<td>
				{{street}} - {{zipcode}} {{city}}
			</td>
			<td>
				{{#last_subscription}}
				<a href="{{base_url}}subscriptions/detail/{{last_subscription.subscription.id}}">{{last_subscription.subscription.title}}</a>
				<p>
					{{#last_subscription.valid_subscription}}
						—inscription valide—
						<br />
						Inscrit le {{last_subscription.start_date}} ({{last_subscription.elapsed_time_fuzzy}})
						<br />
						Périmé {{last_subscription.remaining_time_fuzzy}} (le {{last_subscription.end_date}})
					
					{{/last_subscription.valid_subscription}}

					{{^last_subscription.valid_subscription}}
						—inscription périmé—
						<br />
						Périmé depuis le {{last_subscription.end_date}} ({{last_subscription.end_date_fuzzy}})

					{{/last_subscription.valid_subscription}}
	<!--				<br />
						{{last_subscription.remaining_time.years}} ans, {{last_subscription.remaining_time.months}} mois, {{last_subscription.remaining_time.days}} jours, {{last_subscription.remaining_time.hours}} heures, {{last_subscription.remaining_time.minutes}} minutes, {{last_subscription.remaining_time.seconds}} secondes ({{last_subscription.remaining_time_fuzzy}})
					<br />
					Inscrit il y a {{last_subscription.elapsed_time.years}} ans, {{last_subscription.elapsed_time.months}} mois, {{last_subscription.elapsed_time.days}} jours, {{last_subscription.elapsed_time.hours}} heures, {{last_subscription.elapsed_time.minutes}} minutes, {{last_subscription.elapsed_time.seconds}} secondes
					<br />
		-->		</p>
				{{/last_subscription}}
				{{^last_subscription}}
					- Aucune adhésion - 
					<br />
				{{/last_subscription}}
				<a href="{{base_url}}members/subscriptions/{{id}}">Gérer les adhésions</a>
			</td>
		</tr>
		<tr>
			<td></td>
			<td colspan="6">
				<a href="{{base_url}}members/edit/{{id}}">Modifier la fiche membre</a>
				-
				{{#user.id}}
					<a href="{{base_url}}users/profil/{{user.id}}">Fiche utilisateur</a>
				{{/user.id}}
				{{^user.id}}
					Ce membre n'as pas de compte utilisateur
				{{/user.id}}
			</td>
		</tr>
		{{/members}}
		{{^members}}
			<tr>
				<td colspan="3">
					— Aucun membre pour l'instant —
					<a href="{{base_url}}members/edit/">Ajoutez votre premier membre</a>
				</td>
			</tr>
		{{/members}}
	</tbody>
</table>
{{#members_count}}Nombre total de membres : {{members_count}}{{/members_count}}
<p>
	<a href="{{base_url}}members/edit">Ajouter un nouveau membre</a>
</p>
<p>
	<a href="{{base_url}}members.json">Réponse au format JSON</a>
</p>