{{#member}}
#{{idm}}<h1>{{firstname}} {{name}}
{{{fancy_gender}}}
</h1>
<div class="content_stat row-fluid">
	
	<div class="span4 block">
		<h2>Statut :</h2>
		<span class="stat">{{status.name}}</span> de l'association
	</div>
	
	<div class="span4 block">
		<h2>Inscription :</h2>
		1<sup>ère</sup> inscription <span class="stat">{{fancy_created}}</span>
	</div>
	
	{{#fancy_birthdate}}
	<div class="span4 block">
		<h2>Âge :</h2>
		<span class="stat">{{fancy_birthdate}}</span> années
	</div>
	{{/fancy_birthdate}}
	
</div>

<h2>Coordonnées</h2>
<ul>
	<li>Email : {{member.email}}</li>
	<li>Portable : {{member.cellular}}</li>
	<li>Téléphone : {{member.phone}}</li>
	<li>
		Adresse :
		<br />
		{{member.street}}
		<br />
		{{member.zipcode}}
		<br />
		{{member.city}}
	</li>
</ul>
{{/member}}
<a href="{{base_url}}users/profil/{{member.user.id}}">Affiche la fiche utilisateur</a>