<tr {{^member.is_active}}class="faded"{{/member.is_active}}>
  <td>#{{member.idm}}</td>
  <td>
    <a href="{{member.url}}" title="Afficher la fiche de {{member.fullname}}">
      {{member.fullname}}
    </a>
  </td>
  <td>
    <a href="mailto:{{member.email}}" title="Écrire à {{member.fullname}}">
      {{member.email}}
    </a>
  </td>
  <td><span class="nowrap">{{member.phone}}</span></td>
  <td>
  {{#member.dues.records_count}}
  {{#member.dues.records}}
  <a href="{{due.url}}" title="Afficher la cotisation n° {{due.id}} de {{member.fullname}}">
    {{due.title}}
  </a>
  {{/member.dues.records}}
  {{/member.dues.records_count}}
  {{^member.dues.records_count}}
  Ajouter une adhésion
  {{/member.dues.records_count}}
  </td>
</tr>
