<tr {{^member.is_active}}class="faded"{{/member.is_active}}>
  <td class="is-hidden-mobile">#{{member.idm}}</td>
  <td>
    <a href="{{member.url}}" title="Afficher la fiche de {{member.fullname}}">
      {{member.fullname}}
    </a>
  </td>
  <td>
    {{#member.email}}
    <a href="mailto:{{member.email}}?body=Bonjour {{member.firstname}},&subject=Message de Guidoline" title="Écrire à {{member.fullname}}">
      <span class="is-hidden-tablet icon is-medium">
        <img class="icon-injector" src="/assets/svg/at.svg" alt="icon name">
      </span>
      <span class="is-hidden-mobile">{{member.email}}</span>
    </a>
    {{/member.email}}
  </td>
  <td>
    {{#member.phone}}
    <a href="tel:+{{member.phone}}">
      <span class="is-hidden-tablet icon is-medium">
        <img class="icon-injector" src="/assets/svg/call.svg" alt="icon name">
      </span>
      <span class="nowrap is-hidden-mobile">{{member.phone}}</span>
    </a>
    <a class="is-hidden-tablet" href="sms:+{{member.phone}}?body=Bonjour {{member.firstname}},%0a">
      <span class="is-hidden-tablet icon is-medium">
        <img class="icon-injector" src="/assets/svg/text.svg" alt="icon name">
      </span>
    </a>
    {{/member.phone}}
  </td>
  <td class="is-hidden-mobile">
  {{#member.dues.records_count}}
  {{#member.dues.records}}
  <a href="{{due.url}}" title="Afficher la cotisation n° {{due.id}} de {{member.fullname}}">
    {{due.title}}
  </a>
  {{/member.dues.records}}
  {{/member.dues.records_count}}
  {{^member.dues.records_count}}
  Ajouter une adhésion
  {{/member.dues.records_count}}
  </td>
</tr>
