<tr {{^member.is_active}}class="faded"{{/member.is_active}}>
  <td>#{{member.idm}}</td>
  <td>
    <a href="{{member.url}}" title="Afficher la fiche de {{member.fullname}}">
      {{member.fullname}}
    </a>
  </td>
  <td>
    <a href="mailto:{{member.email}}" title="Écrire à {{member.fullname}}">
      {{member.email}}
    </a>
  </td>
  <td>{{member.phone}}</td>
  <td>
  {{#member.subscriptions.records_count}}
  {{#member.subscriptions.records}}
  <a href="{{subscription.url}}" class="{{subscription.icon}}" title="Afficher la facture de l'adhésion {{subscription.title}} de {{member.fullname}}">
    {{subscription.title}}
  </a>
  {{/member.subscriptions.records}}
  {{/member.subscriptions.records_count}}
  {{^member.subscriptions.records_count}}
  Ajouter une adhésion
  {{/member.subscriptions.records_count}}
  </td>
  <td></td>
</tr>
