{{#subscription}}
	<h1>{{title}}</h1>
	<p>
		{{description}}
	</p>
	<p>
		Tarif : {{cost}}€
	</p>
	<p>
		Créer le {{created}}
	</p>
	<p>
		Période de validité : {{expiry_time}}
	</p>
{{/subscription}}