{{#subscription}}
<h1>{{title}}</h1>
<p>{{description}}</p>
<div class="content_stat row-fluid">
	
	<div class="span4 block">
		<h2>Tarif :</h2>
		<span class="stat">{{cost}} €</span>
	</div>
	
	<div class="span4 block">
		<h2>Création :</h2>
		{{created}}
	</div>
	
	{{#fancy_birthdate}}
	<div class="span4 block">
		<h2>Validité :</h2>
		<span class="stat">{{expiry_time}}</span>
	</div>
	{{/fancy_birthdate}}
	
</div>
{{/subscription}}