{{#subscription}}
<div id="form_content">
	<form action="{{base_url}}subscriptions/save/{{id}}" method="post" class="form_edit">
		<input type="hidden" name="redirect" value="subscriptions">
		<fieldset>
			<legend>Adhésion</legend>
			{{#message}}
			{{^errors}}
			<strong class="msg-success">{{message}}</strong>
			{{/errors}}
			{{#errors}}
			<strong class="msg-error">{{message}}</strong>
			{{/errors}}
			{{/message}}
			<span>
				<label for="title">Titre</label>
				<input type="text" name="title" id="title" value="{{title}}" />
			</span>
			{{#errors}}{{#title}}<p class="form-error">{{title}}</p>{{/title}}{{/errors}}
			<span>
				<label for="cost">Coût</label>
				<input type="text" name="cost" id="cost" value="{{cost}}" />
			</span>
			<span>
				<label for="description">Description</label>
				<textarea name="description" id="description" cols="30" rows="2">{{description}}</textarea>
			</span>
			<span class="form_action">
				<input class="btn" type="submit" value="Enregistrer" />
			</span>
		</fieldset>
	</form>
</div>
{{/subscription}}