<form action="{{base_url}}subscriptions/edit/{{subscription.id}}" method="post">
	<fieldset>
		<legend>Adhésion</legend>
		{{#message}}
		{{^errors}}
		<strong class="msg-success">{{message}}</strong>
		{{/errors}}
		{{#errors}}
		<strong class="msg-error">{{message}}</strong>
		{{/errors}}
		{{/message}}
		<p>
			<label for="title">Titre</label>
			<input type="text" name="title" id="title" value="{{subscription.title}}" />
		</p>
		{{#errors}}{{#title}}<p class="form-error">{{title}}</p>{{/title}}{{/errors}}
		<p>
			<label for="description">Description</label>
			<textarea name="description" id="description" cols="30" rows="10">{{subscription.description}}</textarea>
		</p>

	</fieldset>
	<p>
		<input type="submit" value="Enregistrer" />
	</p>
</form>