
<nav class="nav_edit">
	<ul>
		<!-- <li>
					<a class="btn btn-info" href="{{base_url}}subscriptions.json">Réponse au format JSON</a>
				</li> -->
		<li>
			<a class="btn btn-info modale tipleft" title="Ajouter une nouvelle adhésion" href="{{base_url}}subscriptions/edit#form_content"><i class="icon-plus"></i> Adhésion</a>
		</li>
	</ul>
</nav>

<section class="content_table">
	<h1>Tableaux des subscriptions</h1>
	{{#subscriptions.count_all}}
	<table id="table_subscriptions" class="table datatable">
		<thead>
			<tr>
				<th>Titre</th>
				<th>Description</th>
				<th>Coût</th>
				<th>Crée le</th>
				<th>Durée d'expiration</th>
				<th>Nbre de membres</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#subscriptions.find_all}}
			<tr>
				<td><a class="modale" href="{{base_url}}subscriptions/detail/{{id}}">{{title}}</a></td>
				<td>{{description}}</td>
				<td>{{cost}}</td>
				<td>{{created}}</td>
				<td>{{expiry_time}}</td>
				<td></td>
				<td>
					<a class="icon-pencil icon-2x modale tip" href="{{base_url}}subscriptions/edit/{{id}}#form_content" title="Modifier"></a>
					<span class="separator">|</span>
					<a class="icon-trash icon-2x tip" href="{{base_url}}subscriptions/delete/{{id}}" title="Supprimer"></a>
				</td>
			{{/subscriptions.find_all}}
		</tbody>
	</table>
	{{/subscriptions.count_all}}
	{{^subscriptions.count_all}}
	— Aucune adhésions pour le moment —
	{{/subscriptions.count_all}}
</section>