{{#subscriptions.count_all}}
	<table>
	<thead>
		<tr>
			<th>Titre</th>
			<th>Description</th>
			<th>Coût</th>
			<th>Crée le</th>
			<th>Durée d'expiration</th>
			<th>Nbre de membres</th>
		</tr>
	</thead>
	<tbody>
		{{#subscriptions.find_all}}
		<tr>
			<td>{{title}}</td>
			<td>{{description}}</td>
			<td>{{cost}}</td>
			<td>{{created}}</td>
			<td>{{expiry_time}}</td>
			<td></td>
		</tr>
		{{/subscriptions.find_all}}
	</tbody>
</table>
{{/subscriptions.count_all}}
{{^subscriptions.count_all}}
— Aucune adhésions pour le moment —
<a href="{{base_url}}subscriptions/edit">Ajouter une première adhésion</a>
{{/subscriptions.count_all}}