<section class="content_stat">
	<div class="row">
	 <div class="span3">
	 	<h2>Actifs</h2>
	 	<div class="block">
	 		<span class="stat number_member">{{count_active_members}} / {{count_members}}</span> membres actifs dans l'association.
	 		<br /><strong>{{new_membersship_during_year}}</strong> nouvelles inscriptions cette année.
	 	</div>
	</div>
	 <div class="span3">
	 	<h2>Nouveaux/Total</h2>
	 	<div class="block">
	 		<span class="stat number_member">{{percentage_new_members_during_year}}%</span> de nouveaux membres en 2013
	 	</div>
	 </div>
	<div class="span3">
		<h2>Renouvellement</h2>
		<div class="block">
			<span class="stat number_member">{{turnover}}%</span> de membres inscrits depuis plus de 3 ans
		</div>
	</div>
	<div class="span3">
		<h2>Moyenne d'âge</h2>
		<div class="block">
			<span class="stat number_member">{{average_age}}%</span> des membres ont moins de 25 ans
		</div>
	</div>
	</div>
</section>

<nav class="nav_edit">
	<ul>
		<!-- <li>
			<a class="btn btn-info" href="{{base_url}}members.json">Réponse au format JSON</a>
		</li> -->
		<li>
			<a class="btn btn-info modale tipleft" title="Ajouter un nouveau membre" href="{{base_url}}members/edit#form_content">+ Membre</a>
		</li>
	</ul>
</nav>