<tr>
	<td>#{{id}}</td>
	<td><a class="modale" href="{{base_url}}members/profile/{{id}}">{{firstname}} {{name}}</a></td>
	<td>{{fancy_birthdate}}</td>
	<td>{{fancy_created}}</td>
	<td>{{email}}</td>
	<td>{{cellular}}</td>
	<td>
		{{city}}
	</td>
	<td>
		— subscription here bro —
	</td>
	<td>
		<p><a class="icon-pencil icon-2x modale tip" href="{{base_url}}members/edit/{{id}}#form_content" title="Modifier"></a></p>
	</td>
</tr>