<tr>
	<td>#{{member.id}}</td>
	<td><a class="modale" href="{{base_url}}members/profile/{{member.id}}">{{member.firstname}} {{member.name}}</a></td>
	<td>{{member.fancy_birthdate}}</td>
	<td>{{member.fancy_created}}</td>
	<td>{{member.email}}</td>
	<td>{{member.cellular}}</td>
	<td>
		{{member.city}}
	</td>
	<td>
	{{#member.subscriptions}}
		{{#membership}}
			{{#valid_subscription}}
				<span class="icon-{{subscription.slug}} icon-2x tip valid" title="l\'adhésion &laquo;{{subscription.title}}&raquo; est valide"></span>
			{{/valid_subscription}}
			{{^valid_subscription}}
				<a class="icon-{{subscription.slug}} icon-2x tip invalid" title="l\'adhésion &laquo;{{subscription.title}}&raquo; n\'est plus valide" href="members/subscriptions_quickadd/{{member.id}}/{{subscription.id}}" ></a>
			{{/valid_subscription}}
		{{/membership}}
		{{^membership}}
			<a class="icon-{{subscription.slug}} icon-2x tip never" title="Ajouter une adhésion &laquo;{{subscription.title}}&raquo;" href="members/subscriptions_quickadd/{{member.id}}/{{subscription.id}}" ></a>
		{{/membership}}
	{{/member.subscriptions}}
	</td>
	<td>
		<p><a class="icon-pencil icon-2x modale tip" href="{{base_url}}members/edit/{{member.id}}#form_content" title="Modifier"></a></p>
		<p><a class="icon-pencil icon-2x modale tip" href="{{base_url}}subscription/{{member.id}}#content_main" title="Modifier"></a></p>
	</td>
</tr>

